@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to ParcelManagementApp</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Parcels" asp-action="Create">Send the package</a>
    }
    else
    {
        <p>Please <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">log in</a> to send a package.</p>
    }
</div>
